/* #sect1 {
  height: 100vh;
  color: #fff;
  background-image: url("../assets/images/bg_others.jpg");
  background-size: 100%;
} */

/* #sect1 {
  background-image: linear-gradient(to right, #ff96cc, #f35d9b);
} */

body {
  background-image: linear-gradient(to right, #ffa1d2, #ff62a4);
}

#sect1 {
  height: 100vh;
  background-image: url("../assets/images/ribbon_new5.png");
}
